body{
	background: #fff;
}
.masted{
	position: absolute;
	top: 22%;
	left: 6.7%;
	width: 32.1%;
	box-sizing: border-box;


}
.masted_t{
	font-size: 28px;
	font-weight: bold;
	color: #fff;
	line-height: 46px;
}
.masted_tm a{
	font-size: 22px;
	color: #fff;
	display: inline-block;

	height: 60px;
	line-height: 60px;
	width: 250px;
	text-align: center;
	border-radius:5px ;
	border: 1px solid #fff;
}
.masted_tm a:first-child{
	margin-right: 30px;
}
/* .masted_tm a.crest{
	background: #0099ff;
	border: 1px solid #0099ff;
} */
.masted_tm a:hover{
	background: #0099ff;
	border: 1px solid #0099ff;
}
.masted_tm{
	position: absolute;
	top: 62%;
	left: 6.8%;
	box-sizing: border-box;
	z-index: 999;
}
.sash{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.track-containe{
	position: relative;
	top: -79px;
}
.track-containe::after{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.track-containe-ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
.track-containe-li{
	margin-right: 40px;
	width: 270px;
	border-radius: 10px;
	background-color: #FFFFFF;
}
.track-item-containe{
	display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.track-link{
	cursor: pointer;
}
.track-link:hover{
	cursor: pointer;
}
.track-icon{
	display: block;
  width: 270px;
  height: 80px;
  text-align: center;
	padding: 13px 0px;
}
.track-text{
	color: #FFFFFF;
	display: block;
	width: 270px;
  text-align: center;
	background-color: #0099FF;
	border-radius: 0px 0px 10px 10px;
}
.track-text>p{
	height: 80px;
  text-align: center;
  line-height: 80px;
}








.track{
	position: relative;
	top: -72px;
}
.track:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.track li{
	float: left;
	width: 194px;
	height: 244px;
	box-sizing: border-box;
	background: #fff;
	border-radius: 8px;
	 box-shadow: 0 0 10px #e3e4e4;
	 text-align: center;
	 margin-right: 7px;
}
.track li:last-child{
	margin-right: 0;
}
.track li img{
	margin-top: 60px;
}
.track li p{
	font-size: 20px;
	color: #666;
	margin-top: 32px;
	/*padding: 0 30px;*/
	line-height: 30px;
}

.sash_title{
	font-size: 32px;f
	font-weight: bold;
	color: #000;
	text-align: center;
	position: relative;
	top: -30px;
}
.sash_jj{
	text-align: center;
	font-size: 20px;
	color: #666;
	line-height: 30px;

}
.bounce{
	margin-top: 80px;
	margin-bottom: 120px;
}
.bounce:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.bounce li{
	width: 203px;
	box-sizing: border-box;
	float: left;
	margin-right: 97px;
}

.chaird{
	width: 203px;
	height: 203px;
	border-radius: 50%;
	background: #edf1fa;
	padding: 5px;
	box-sizing: border-box;
	position: relative;
}
.chaird img.spring{
	width: 100%;
}
.ditch{
	position: absolute;
	top: 5px;
	left: 5px;
}

.pulsed .chaird{
	background: #00b4ff;
}
.pulsed .chaird .ditch{
	display: none;
}
.skip{
	width: 100%;
	height: 476px;
	background: url(../img/static/ad_platforms.png) no-repeat;
	background-size: cover;
	margin-top: 60px;
}
.beatd{
	width: 1200px;
	margin: 0 auto;
	padding-top: 115px;
	color: #fff;
	text-align: center;
}
.beatd_n{

	font-size: 32px;
	font-weight: bold;
}
.beatd_t{
	font-size: 20px;
	margin-top: 30px;
	line-height: 32px;
}
.beatd_m{
	margin-top: 75px;
}
.beatd_m img{
	margin-right: 50px;
}
.twitch{
	width: 1200px;
	margin: 0 auto;
	margin-top: 118px;
}
.twitch_n{
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: #333;
}
.pitated{

	width: 1116px;
	margin: 0 auto;
	margin-top: 60px;
}
.pitated:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.pitated li{
	float: left;
	width: 528px;
	height: 130px;
	box-sizing: border-box;
	border: 1px solid #c9ddfa;
	border-radius: 5px;
	padding: 0 20px;
	margin-right: 60px;
	margin-bottom: 28px;
	cursor: pointer;
}
.pitated li span{
	position: relative;
	float: left;
	margin-top: 34px;
	margin-right: 36px;
}
/*.pitated li span img{
	position: absolute;
	top: 0;
	left: 0;
}*/
.steadm{
	display: none;
}
.stitche{
	float: left;
	margin-top: 28px;
	color: #333;
}
.tche_t{
	font-size: 22px;
	font-weight: bold;
}
.tche_b{
	font-size: 16px;
	margin-top: 28px;
}
.pitated li.scaretd{
	background: #448eff;
	border: 1px solid #448eff;
}
.pitated li.scaretd span .steadm{
	display: block;
}
.pitated li.scaretd span .steadx{
	display: none;
}
.pitated li.scaretd .stitche{
	color: #fff;
}
#foot{
	margin-top: 84px;
}
.tmask{
	position: relative;
}
.tmask>span{
	display: inline-block;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0);
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 99;
}
.elmdsp{
	position: relative;
	width: 1200px;
	margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
	margin-top: 55px;
}
.elmdsp>span{
	display: inline-block;
	width: 50px;
	height: 32px;
	background: rgba(255,255,255,0);
	position: absolute;
	right: 0;
	bottom: 32px;
	z-index: 99;
}
.pitated li:nth-child(2n){
	margin-right: 0;
}


/** slider-banner-container css **/
.js-silder-ctrl{
	width: 100%;
  text-align: center;
  position: absolute;
  top: 74%;
  left: 4%;
  z-index: 999;
}
.slider-banner-container{
	position: relative;
	width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0px  182px 0 182px;

	color: #fff;
}

.slider-banner-position{
	position: absolute;
	z-index: 99999;
}
.slider-position-left{
	left: 30%;
}
.slider-banner-text{
	margin-top: 154px;
	text-align: center;
}
.slider-title-h1{
	font-size: 48px;
  font-weight: bold;
	font-family:Arial;
	color: #FFFFFF;
}
.slider-title-p{
	margin-top: 50px;
	font-family:Arial;
	color: #FFFFFF;
}
.btn-account {
	display: flex;
  justify-content: center;
	align-items:center;
	margin-top: 62px;
}
.slider-banner-img-position{
	width: 100%;
  height: 685px;
}
.slider-loging{
	display:block;
}
.trading-account{
	width:246px;
  height:59px;
	line-height: 59px;
	margin-right: 49px;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border: 1px solid #FFFFFF;
}
.trading-account:hover,.demo-account:hover{
	background-color:#0099FF;
	border: 1px solid #0099FF;
	cursor: pointer;
}
.demo-account{
	width:246px;
  height:59px;
	line-height: 59px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #FFFFFF;
	color: #fff;
}
.sash-product{
	margin-top: 24px;
}
.product-title{
	font-size: 24px;
  color: #000;
  text-align: center;
  margin-top: 24px;
}
.product-description{
	font-size: 14px;
  text-align: center;
}
.pulsed .product-title,.pulsed .product-description{
	color: #0099FF;
}

.beatd-btn-icon{
	display: block;
	width: 48px;
	height: 48px;
	margin-right: 35px;
}
.beatd-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
	margin-bottom: 20px;
}
.beatd-btn-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 240px;
	background-color: #0099FF;
	color: #FFFFFF;
	border-radius: 10px;
	margin-right: 80px;
	padding: 10px 0px;
	cursor: pointer;
}
.icon-pc{
	background-image: url("../img/static/ads_pc.png");
	background-repeat: no-repeat;
}
.icon-mobile{
	background-image: url("../img/static/ads_mobile.png");
	background-repeat: no-repeat;
}
.icon-inter{
	background-image: url("../img/static/ads_inter.png");
	background-repeat: no-repeat;
}
.beatd-text{
	width: 600px;
  margin: 0 auto;
}
.beatd_t{
	color: #ccc;
  font-size: 14px;
  margin-top: 40px;
}
.twitch_desction{
	font-size: 14px;
	color: #ccc;
	margin-top: 25px;
	text-align: center;
}
.service{
	width: 100%;
	height: 640px;
	background: url("../img/static/ads_service.png") no-repeat;
	background-size: cover;
	margin-top: 60px;
}
.service-container{
	width: 1200px;
  margin: 0 auto;
  padding-top: 115px;
  color: #fff;
  text-align: center;
}

.service-item-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}
.service-items{
	margin-right: 105px;
	display: flex;
	flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.service-name{
	width: 184px;
	height: 208px;
	margin-bottom: 45px;
}
.servic-desction{
	width: 184px;
}
.service-1{
	background: url("../img/static/service-1.png");
	background-repeat: no-repeat;
}
.service-2{
	background: url("../img/static/service-2.png");
	background-repeat: no-repeat;
}
.service-3{
	background: url("../img/static/service-3.png");
	background-repeat: no-repeat;
}
.service-4{
	background: url("../img/static/service-4.png");
	background-repeat: no-repeat;
}
.service-text-title{
	font-size: 32px;
	font-weight: bold;
	font-family:Arial;
	color:#999999;
	line-height: 32px;
}
.service-text-subtitle{
	font-size: 18px;
	font-weight: bold;
	font-family:Arial;
	color:#999999;
	line-height: 22px;
	margin-top: 35px;
}
.thunde,.thunde-funds,.thunde-us{
  background-color: #FAFDFF;
}
.thunde{
	width: 1200px;
	margin:  0 auto;
	margin-top: 115px;
}
.service-news-content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.service-news-picture{
	width: 551px;
	height: 360px;
}
.service-news-text{
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	width: 609px;
  margin-right: 40px;
	height: 360px;
}
.service-news-btn-link{
	cursor: pointer;
  color: #FFF;
  display: block;
  width: 170px;
  height: 65px;
  background-color: #09f;
  border-radius: 10px;
  line-height: 65px;
  text-align: center;
}
.service-news-btn-link:hover{
	cursor: pointer;
}
.service-news-btn{
	width: 100%;
}
.service-news-h1{
	font-size: 32px;
  font-weight: bold;
  font-family: Arial;
  color: #000;
  line-height: 32px;
  margin-top: 35px;
  text-align: center;
  margin-bottom: 102px;
}
.service-news-subtitle{
	margin-top: 25px;
	margin-bottom: 25px;
}
.service-news-title,.service-news-subtitle{
	line-height: 35px;
  width: 609px;
}
.twitch-conent-container{
	display: flex;
	width: 458px;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	margin-left: 60px;
}
.twitch-conent-subtitle{
	font-size:14px;
	font-family:Arial;
	font-weight:400;
	color:#999999;
	line-height:30px;
	margin-top: 25px;
}
.twitch-conent-title{
	font-size:18px;
	font-family:Arial;
	font-weight:400;
	color:#000000;
	line-height:28px;
}
.twitch-conent-title:hover{
	color: #0099FF;
	cursor: pointer;
}
.hot-link{
	margin-bottom: 20px;
	width: 458px;
}
